<!--<p class='file' ng-class="{'changedFile': (file === projCtrl.currentFile())}">-->
<!--<button class="fileButton" ng-click="projCtrl.updateEditorContent($index); projCtrl.toggleShowVersions($index)">{{file.slice(1)}}</button>
	<div id="outer" ng-if="false">
		<img ng-src='{{projCtrl.getMediaContentUrl()}}' />
	</div>
	<div>
		<video width="" height="" controls ng-src="">

		</video>
	</div>
	<div ng-if="projCtrl.showEditor && projCtrl.isText(file)" ng-model='projCtrl.content' ui-ace="projCtrl.aceOptions"></div>
	<ul>
		<li ng-repeat="fileHistory in []">
			<button>
                    {{fileHistory.date | date:"MM/dd/yyyy 'at' h:mma"}}
                    </button>
		</li>
	</ul>-->
<!--</p>-->


<!--<p class='file' ng-class="{'changedFile': (file === projCtrl.currentFile())}">
	<button class="fileButton" ng-click="projCtrl.updateEditorContent($index); projCtrl.toggleShowVersions($index)">{{file.slice(1)}}</button>
	<div id="outer" ng-if="projCtrl.isImage(file)">
		<img ng-src='{{projCtrl.getMediaContentUrl()}}' />
	</div>
	<div ng-if="projCtrl.showEditor && projCtrl.isText(file)" ng-model='projCtrl.content' ui-ace="projCtrl.aceOptions"></div>
	<ul>
		<li ng-repeat="fileVersion in projCtrl.fileVersions(projCtrl.filesList()[$index])">
			<button>
                    {{fileVersion.date | date:"MM/dd/yyyy 'at' h:mma"}}
                    </button>
		</li>
	</ul>
</p>-->