<html>

<head>
	<title>My Angular App</title>
	<link rel="stylesheet" type="text/css" href="styles.css">
</head>

<body ng-app='myApp'>

	<div ng-controller="ProjectController as projCtrl">
		<h1 ng-bind="projCtrl.currentProject()"></h1>
		<div>
			<ul>
				<li ng-repeat="version in projCtrl.publishedVersions() | orderBy:'-date' track by $index">
					<button ng-class="$index === projCtrl.lastProjectIndex && projCtrl.showIframe ? 'selected': 'notSelected';" ng-click='projCtrl.selectVersion($index); projCtrl.toggleShowFiles($index)'>{{version.date |date:"MM/dd/yyyy 'at' h:mma"}}</button>
				</li>
			</ul>
			<div ng-if="projCtrl.showFiles">
				<ul>
					<li ng-repeat="file in projCtrl.filesList() track by $index">
						<div>
							<file-history data-filename="{{file}}" data-index="{{$index}}" data-projectname="{{projCtrl.currentProject()}}" data-projectobject={{projCtrl.selectedVersion}}
								data-mode="{{projCtrl.getMode(file)}}" data-image="{{projCtrl.isImage(file)}}"></file-history>
						</div>
					</li>
				</ul>
				<button ng-click="projCtrl.togglePreview()">Preview</button>
				<iframe class="pagePreview" ng-show="projCtrl.preview" ng-src='{{projCtrl.currentUrl()}}'></iframe>
			</div>
		</div>
	</div>
	<script type="text/javascript" src="mockdata.js"></script>

	<script type="text/javascript" src="bower_components/ace-builds/src-min-noconflict/ace.js"></script>
	<script type="text/javascript" src="bower_components/angular/angular.js"></script>
	<script type="text/javascript" src="bower_components/angular-ui-ace/ui-ace.js"></script>
	<script type="text/javascript" src="bower_components/ace-builds/src-min-noconflict/ext-language_tools.js"></script>
	<script type="text/javascript" src="ProjectService.js"></script>
	<script type="text/javascript" src="FileHistoryFactory.js"></script>
	<script type="text/javascript" src="FileHistoryDirective.js"></script>
	<script type="text/javascript" src="FileHistoryController.js"></script>
	<script type="text/javascript" src="ProjectController.js"></script>
	<script type="text/javascript" src="app.js"></script>
</body>

</html>