<!DOCTYPE html>
<html>

  <head>
    <meta charset="UTF-8">
    <title>Dispersion</title>
    <!--Import Google Icon Font-->
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="assets/css/materialize.min.css" media="screen,projection" />
    <link rel="stylesheet" href="assets/css/style.css" media="screen" title="no title">
  </head>

  <body>
    <div class="light-blue darken-1">
      <h1 class="center brand-logo">Dispersion</h1>
    </div>
    <div id='dash-content' ng-app='myApp'>
      <div ng-controller='DashboardController'>
        <top-bar></top-bar>
        <div class="row">
          <div class="col s12">
            <ul class="collection">
              <li class="collection-item avatar" ng-repeat='(key, value) in files track by $index'>
                <i ng-if="value.fileType === 'folder'" class="material-icons circle">folder</i>
                <img ng-if="value.fileType === 'image'" src="{{value.url}}" alt="" class="circle">
                <i ng-if="value.fileType === 'doc'" class="material-icons circle">description</i>
                <i ng-if="value.fileType === 'excel'" class="material-icons circle green">insert_chart</i>
                <i ng-if="value.fileType === 'video'" class="material-icons circle red">play_arrow</i>
                <span class="title">{{value.item}}</span>
                <p>{{value.time}} <br> {{value.url}}
                </p>
                <div href="#!" class="secondary-content">
                  <a href='#!'> <i class="material-icons">info_outline</i></a>
                  <a href='#!'> <i class="material-icons">system_update_alt</i></a>
                  <a href='#!' ng-click='deleteHash(value.hash)'> <i class="material-icons">delete</i></a>
                </div>
              </li>
            </ul>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </body>
  <script>
    // require other files to run in this process
    window.$ = window.jQuery = require('./node_modules/jquery/dist/jquery.min.js');
  </script>
  <script src="./assets/js/renderer.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
  <script src="components/directives/directives.js"></script>
  <script src="components/factories/hashFactory.js"></script>
  <script src="app.js"></script>

</html>







<!--<h1>DISPERSION</h1>
    <div class="row">
      <div class="col s6">
        <ul class="collection with-header">
          <div class="collection-header">
            <h4>This is pinned on the dag</h4>
          </div>
          <li class="collection-item" ng-repeat="filename in filenames">
            <div>{{filename}}<a href="#!" class="secondary-content"><i class="material-icons">info_outline</i><i class="material-icons">system_update_alt</i><i class="material-icons">delete</i></a></div>
          </li>
        </ul>
      </div>
      <div class="col s6">
      </div>
    </div>
    <div class="getting-started">
      <a>Getting Started<a>
     <div>
    <div class="file-drop">
      <div class="hash-input">
        <h3>Drag file or directory into this area or enter in the absolute file path below:</h3>
        <label for="enter-message">Enter your file (abs file path): </label>
        <input id="hashfile" type="text" size="30">
        <button id='ipns-button' type="button" name="button">Add hash to to IPNS</button>
      </div>
        <button id='hashList-button' type="button" name="button">Save all hash objects</button>
      <div class="clear-pins">
        <h3>Delete all added and pinned hashes:</h3>
        <button id='delete-all' type="button" name="button">delete all!</button>
      </div>
      <h2>Your published file/directory link will appear below:</h2>
      <a id="hashlink">
      </a>
      <div class="pin-input">
        <h3>Input hash to be pinned:</h3>
        <input id="inputPin" type="text" size="30">
        <h3>Pin Description:</h3>
        <input id="pinDescription" type="text" size="30">
        <button id='pin-button' type="button" name="button">Pin Hash</button>
      </div>
      <div class="pin-delete">
        <h3>Input hash to be deleted:</h3>
        <input id="delete-pin" type="text" size="30">
        <button id='delete-button' type="button" name="button">Pin Delete</button>
      </div>
      <div class="save-hash">
        <h3>Input hash to be saved:</h3>
        <input id="save-input" type="text" size="30">
        <h4>Folder:</h4>
        <h6>Default is savedfiles folder in App</h6>
        <input id="save-folder" type="text" size="30">
        <button id='save-button' type="button" name="button">Save that hash</button>
      </div>
    </div>
    <div id="hash-list"></div>-->
