<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>Dispersion</title>
	<!--Import Google Icon Font-->
	<link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<!--Import materialize.css-->
	<link type="text/css" rel="stylesheet" href="assets/css/materialize.min.css" media="screen,projection" />
	<link rel="stylesheet" href="assets/css/style.css" media="screen" title="no title">
</head>


<body>

	<div id='dash-content' ng-app='myApp'>
		<div ng-controller='MainController as mainCtrl'>
			<daemon-load></daemon-load>

			<div ng-show="mainCtrl.view !== 'project'" class="row">
				<div class="navbar-fixed">
					<nav>
						<div class="nav-wrapper blue-grey darken-2">
							<a src="./assets/images/pedal.png" class="brand-logo left"> <img src="./assets/images/pedal.png" alt="some_text" style="width:25px;height:25px;">Dispersion</a>
							<ul id="nav-mobile" class="right">
								<li class='active fileNav'><a ng-click="mainCtrl.view= 'files'" href="#">My Files</a></li>
								<li class='pubNav'><a ng-click="mainCtrl.view = 'publish'; mainCtrl.publishPage()" href="#">Publish</a></li>
							</ul>
						</div>
					</nav>
				</div>
			</div>

			<div ng-controller='FilesController as fileCtrl'>
				<div ng-show="mainCtrl.view ==='files' ">


					<div class='row'>
						<div class="col s2 right">
							<a class="waves-effect amber darken-1 waves-light btn-large right " ng-click='fileCtrl.addHash()'><label ><i class="material-icons right">cloud</i></label>Add to IPFS</a>
						</div>
						<div class="col s2 left ">

							<select ng-model="sortBy">
							    <option value="" disabled selected>Filter Files</option>
           				<option value="time">Date</option>
            			<option value="item">Item</option>
            			<option value="fileType">FileType</option>
        		</select>
							<!--<a class="waves-effect amber darken-1 waves-light btn right " ng-click='fileCtrl.addHash()'><label ><i class="material-icons right">cloud</i></label>Add to IPFS</a>-->
						</div>
					</div>

					<!--<div class="input-field col s2">
						<select ng-model="sortBy">
							    <option value="" disabled selected>Filter Files</option>
           				<option value="time">Date</option>
            			<option value="item">Item</option>
            			<option value="fileType">FileType</option>
        		</select>
					</div>-->



					<div class="row">
						<ul class="collapsible col s12" data-collapsible="accordion">
							<!--LI HEADER CONTENT-->
							<li class="collection-item grey lighten-2 avatar" ng-repeat='file in fileCtrl.files | orderBy: sortBy track by $index '>
								<div class="collapsible-header">
									<!--Set Icon-->
									<i ng-if="file.fileType === 'folder'" class="material-icons circle">folder</i>
									<i ng-if="file.fileType === 'other'" class="material-icons circle">web</i>
									<i ng-if="file.fileType === 'image'" class="material-icons circle">visibility</i>
									<i ng-if="file.fileType === 'doc'" class="material-icons circle">description</i>
									<i ng-if="file.fileType === 'excel'" class="material-icons circle green">insert_chart</i>
									<i ng-if="file.fileType === 'video'" class="material-icons circle red">play_arrow</i>
									<!--Header Li TEXT-->
									<span class="title text-darken-3">{{file.item}}</span>
									<span class="right">
										<span class="left">{{file.time}}</span>
									<!--<i class="material-icons">info_outline</i>-->
									</span>
								</div>
								<!--LI BODY CONTENT-->
								<div class="collapsible-body">
									<p>{{file.url}}</p>
									<a class='btn' ng-click='fileCtrl.addToPublish(file)'>Stage to Publish <i class="material-icons">send</i></a>
									<a class='btn' ng-click='fileCtrl.saveToDisk(file.hash,fileCtrl.username)'>Download <i class="material-icons">system_update_alt</i></a>
									<a class='btn' ng-click='fileCtrl.deleteHash(file.hash)'> Delete<i class="material-icons">delete</i></a>
								</div>
							</li>

						</ul>
					</div>
			</div>
		</div>


		<div>
			<div ng-controller='PublishController as pubCtrl' ng-show="mainCtrl.view === 'publish' ">
				<div class=" row ">
					<div class="col s12 ">
						<publish-card ng-show="mainCtrl.view==='publish'"></publish-card>
					</div>
				</div>
			</div>

			<div class="row" ng-show="mainCtrl.view==='project'" style="position: absolute; width:100%; height:100%">
				this is testing project page yo. should probably be own directive/partial
			</div>
		</div>

	</div>
	</div>
</body>


<script>
    // require other files to run in this process
    window.$ = window.jQuery = require('./node_modules/jquery/dist/jquery.min.js');
    window.Hammer = require('./node_modules/hammerjs/hammer.min.js');
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js "></script>
<!--<script src="./assets/js/dispersion.js "></script>-->
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js "></script>
<script src="components/directives/project-directive.js "></script>
<script src="components/factories/fileFactory.js "></script>
<script src="components/factories/ipfsService.js "></script>
<script src="components/factories/publishService.js "></script>
<script src="components/factories/diskFactory.js "></script>
<script src="components/directives/daemon-load-directive.js "></script>
<script src="components/directives/topbarDirective.js "></script>
<script src="components/directives/publishDirective.js "></script>
<script src="components/controllers/mainController.js "></script>
<script src="components/controllers/FilesController.js "></script>
<script src="components/controllers/publishController.js "></script>
<script>
    $(document).ready(function() {
        $('.pubNav').click(function(){
            $(this).addClass('active');
            $('.fileNav').removeClass('active');
        })

         $('.fileNav').click(function(){
            $(this).addClass('active');
            $('.pubNav').removeClass('active');
        })


    $('.collapsible').collapsible({
      accordion : false // A setting that changes the collapsible behavior to expandable instead of the default accordion style
    });


        $('select').material_select();
    });
</script>
<script src="app.js "></script>

</html>