<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>Dispersion</title>
	<!--Import Google Icon Font-->
	<link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<!--Import materialize.css-->
	<link type="text/css" rel="stylesheet" href="assets/css/materialize.min.css" media="screen,projection" />
	<link rel="stylesheet" href="assets/css/style.css" media="screen" title="no title">
</head>


<body>

	<div id='dash-content' ng-app='myApp'>
		<div ng-controller='MainController as mainCtrl'>
			<daemon-load></daemon-load>
			<div ng-show="mainCtrl.view !== 'project'" class="row">

				<div class="navbar-fixed">
					<nav>
						<div class="nav-wrapper blue-grey darken-2">
							<a src="./assets/images/pedal.png" class="brand-logo left"> <img src="./assets/images/pedal.png" alt="some_text" style="width:25px;height:25px;">Dispersion</a>
							<ul id="nav-mobile" class="right">
								<li class='active fileNav'><a ng-click="mainCtrl.view= 'files'" href="#">My Files</a></li>
								<li class='pubNav'><a ng-click="mainCtrl.view = 'publish'; mainCtrl.publishPage()" href="#">Publish</a></li>
							</ul>
						</div>
					</nav>
				</div>
			</div>

			<div ng-controller='FilesController as fileCtrl'>
				<div ng-show="mainCtrl.view ==='files' " class="row">
					<div class="col s12">
						<!--<top-bar></top-bar>-->
						<div class='row'>
							<a class="waves-effect amber darken-1 waves-light btn right " ng-click='fileCtrl.addHash()'><label ><i class="material-icons right">cloud</i></label>Add to IPFS</a>
							<div class="btn  amber darken-1 waves-light input-field col s2">
								<select ng-model="sortBy">
							    <option value="" disabled selected>Filter Files</option>
           				<option value="time">Date</option>
            			<option value="item">Item</option>
            			<option value="fileType">FileType</option>
        				</select>
							</div>
						</div>

						<ul class="collection">
							<li class="collection-item grey lighten-2 avatar" ng-repeat='file in fileCtrl.files | orderBy: sortBy track by $index '>
								<i ng-if="file.fileType === 'folder'" class="material-icons circle">folder</i>
								<img ng-if="file.fileType === 'image'" src="{{file.url}}" alt="" class="circle">
								<i ng-if="file.fileType === 'doc'" class="material-icons circle">description</i>
								<i ng-if="file.fileType === 'excel'" class="material-icons circle green">insert_chart</i>
								<i ng-if="file.fileType === 'video'" class="material-icons circle red">play_arrow</i>
								<span class="title text-darken-3">{{file.item}}</span>
								<p class=" blue-grey-text text-darken-4">{{file.time}} <br> {{file.url}}
								</p>
								<div href="#!" class="secondary-content">
									<a href='#!' ng-click='fileCtrl.addToPublish(file)'> <i class="material-icons">language</i></a>
									<a href='#!'> <i class="material-icons">info_outline</i></a>
									<a href='#!' ng-click='fileCtrl.saveToDisk(file.hash,fileCtrl.username)'> <i class="material-icons">system_update_alt</i></a>
									<a href='#!' ng-click='fileCtrl.deleteHash(file.hash)'> <i class="material-icons">delete</i></a>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>


			<div>
				<div ng-controller='PublishController as pubCtrl' ng-show="mainCtrl.view === 'publish' ">
					<div class=" row ">
						<div class="col s12 ">
							<publish-card ng-show="mainCtrl.view==='publish'"></publish-card>
						</div>
					</div>
				</div>

				<div class="row" ng-show="mainCtrl.view==='project'" style="position: absolute; width:100%; height:100%">
					this is testing project page yo. should probably be own directive/partial
				</div>
			</div>

		</div>
	</div>
	
</body>
<script>
    // require other files to run in this process
    window.$ = window.jQuery = require('./node_modules/jquery/dist/jquery.min.js');
    window.Hammer = require('./node_modules/hammerjs/hammer.min.js');
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js "></script>
<!--<script src="./assets/js/dispersion.js "></script>-->
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js "></script>
<script src="components/directives/project-directive.js "></script>
<script src="components/factories/fileFactory.js "></script>
<script src="components/factories/ipfsService.js "></script>
<script src="components/factories/publishService.js "></script>
<script src="components/factories/diskFactory.js "></script>
<script src="components/directives/daemon-load-directive.js "></script>
<script src="components/directives/topbarDirective.js "></script>
<script src="components/directives/publishDirective.js "></script>
<script src="components/controllers/mainController.js "></script>
<script src="components/controllers/FilesController.js "></script>
<script src="components/controllers/publishController.js "></script>
<script>
    $(document).ready(function() {

        $('.pubNav').click(function(){
            $(this).addClass('active');
            $('.fileNav').removeClass('active');
        })

         $('.fileNav').click(function(){
            $(this).addClass('active');
            $('.pubNav').removeClass('active');
        })

        $('select').material_select();
    });
</script>
<script src="app.js "></script>

</html>