<div class="individual-file-partial">
	<button class="waves-effect waves-light grey btn" ng-click="updateEditorContent(); recordIndex(0); toggleShowInfo();">{{filename.slice(1)}}</button>
	<div class="filediv" ng-show="showInfo" ng-if="!image">
		<ul class="fileVersionList">
			<li class="fileVersionListItem">Previous Versions</li>
			<li class="fileVersionListItem"><button class="transparent"><i class="material-icons">skip_previous</i></button></li>

			<li class="fileVersionListItem" ng-repeat="item in fileHistoryVersions track by $index">
				<a href="#" class="fileVersion" ng-click="updateEditorContent($index); recordIndex($index)">{{item.date | date:"MM/dd/yy h:mma"}}</a>
			</li>
			<li class="fileVersionListItem"><button class="transparent"><i class="material-icons">skip_next</i></button></li>
		</ul>

		<div class="editor" ng-if="showEditor && !image" ng-model="editorContent" ui-ace="{
      useWrapMode: true,
      showGutter: true,
      onLoad: aceLoaded,
      onChange: aceChanged,
      theme:  theme,
      mode: mode,
      require: ['ace/ext/language_tools'],
      advanced: {
          enableSnippets: true,
          enableBasicAutocompletion: true,
          enableLiveAutocompletion: true
      }}">
		</div>
		<div class="save-delete">
			<button class="waves-effect waves-light btn" ng-click="saveFile()"><i class="material-icons left">done</i>Save</button>
			<button class="waves-effect waves-light btn" ng-click="delete()"><i class="material-icons left">delete</i>Delete</button>
			<select class="dropdown dropdown-button btn save-delete-buttons" ng-options="theme as theme for theme in themes" ng-model="theme"></select>
			<select class="dropdown dropdown-button btn save-delete-buttons" ng-options="mode as mode for mode in modes" ng-model="mode"></select>
			<!--<div class="dropdown">
  				<a ng-click="dropdownfile()" class='dropdown-button btn' href='#' data-activates='dropdown1'>File Type</a>
  				<div ng-show="showdropdownfile" id="myDropdown" class="dropdown-content1">
    				<a href="#">Link 1</a>
    				<a href="#">Link 2</a>
    				<a href="#">Link 3</a>
  				</div>
			</div>
			<div class="dropdown">
  				<a ng-click="dropdownsettings()" class='dropdown-button btn' href='#' data-activates='dropdown1'>Settings</a>
  				<div ng-show="showdropdownsettings" id="myDropdown" class="dropdown-content1">
    				<a href="#">Link 1</a>
    				<a href="#">Link 2</a>
    				<a href="#">Link 3</a>
  				</div>
			</div>-->
		</div>
		
	</div>
	<div id="outer" ng-show="image">
		<img ng-if="image" ng-src='{{projectobj.url + filename}}' />
	</div>








</div>