<div class="individual-file-partial">
	<!--<button class="btn" ng-click="updateEditorContent(); recordIndex(); toggleShowInfo();">{{filename.slice(1)}}</button>-->

	<!--FOR SIDENAV switch the BTNS to A's below-->
	<!--<a ng-click="updateEditorContent(); recordIndex(); toggleShowInfo();">{{filename.slice(1)}}</a>-->
	<!--FOR SIDENAV BTNS are A's below-->
	{{openVersionIndex}}
	<div class="filediv" ng-show="showInfo" ng-if="!image">
		<!--<div class="filediv" ng-show="showInfo" ng-if="!image">-->
		<ul class="fileVersionList">


			<li class="fileVersionListItem">Previous Versions</li>
			<li class="fileVersionListItem"><button class="transparent"><i class="material-icons">skip_previous</i></button></li>
			<li class="fileVersionListItem" ng-repeat="item in versions() track by $index">
				<a href="#" class="fileVersion" ng-click="updateEditorContent($index); recordIndex($index)">{{item.date | date:"MM/dd/yy h:mma"}}</a>
			</li>
			<li class="fileVersionListItem"><button class="transparent"><i class="material-icons">skip_next</i></button></li>
		</ul>
		<div class="editor" ng-show="showEditor && !image" ng-model="editorContent" ui-ace="{
      useWrapMode: true,
      showGutter: true,
      onLoad: aceLoaded,
      onChange: aceChanged,
      theme:  theme,
      mode: mode,
      require: ['ace/ext/language_tools'],
      advanced: {
          enableSnippets: true,
          enableBasicAutocompletion: true,
          enableLiveAutocompletion: true
      }}">
		</div>
		<div class="save-delete">
			<button class="waves-effect waves-light btn" ng-click="saveFile()"><i class="material-icons left">done</i>Save</button>
			<button class="waves-effect waves-light btn" ng-click="delete()"><i class="material-icons left">delete</i>Delete</button>
			<select class="dropdown dropdown-button btn save-delete-buttons" ng-options="theme as theme for theme in themes" ng-model="theme"></select>
			<select class="dropdown dropdown-button btn save-delete-buttons" ng-options="mode as mode for mode in modes" ng-model="mode"></select>
		</div>


	</div>
	<div id="outer" ng-show="image">
		<img ng-if="image" ng-src='{{projectobj.url + filename}}' />
	</div>








</div>