<div class="row">
	<div ng-repeat="(key, value) in publishedFiles">
		<div class="col s12 m6">
			<div class="card blue-grey darken-1">
				<div class="card-content white-text">
					<span class="card-title">{{key}}</span>
					<p>Project Description?</p>
				</div>
				<div class="card-action">
					<i class="material-icons">done_all</i><span>currently published</span>
					<a class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">add</i></a>
				</div>
			</div>
		</div>
	</div>
</div>