<div id="modal1" class="modal modal-fixed-footer">
	<div class="modal-content">
		<ul class="collection with-header">
			<li class="collection-header">
				<h4>IPFS Configuration</h4>
			</li>
			<li class="collection-item">
				<div class='settings-item'>
					<h5>Peer ID:</h5>
					{{settingsCtrl.peerID}}
				</div>
			</li>
			<li class="collection-item">
				<div class='settings-item'>
					<h5>Trusted Bootstrap Peers:</h5>
					<ul class="collapsible" data-collapsible="accordion">
						<li>
							<div class="collapsible-header"><i class="material-icons">supervisor_account</i>Peers</div>
							<div class="collapsible-body">
								<p ng-repeat='peer in settingsCtrl.bootStrapList'>{{peer}}</p>
							</div>
						</li>
					</ul>
				</div>
			</li>
			<li class="collection-item">
				<div class='settings-item'>
					<h5>Add trusted Bootstrap peer:</h5>
						<form class="col s12">
							<div class="row">
								<div class="input-field col s6">
									<input type="text" ng-model="settingsCtrl.inputAddr" ng-keyup="$event.keyCode == 13 ? settingsCtrl.addPeer(settingsCtrl.inputAddr) : null"
										ng-enter="" id="peerAddress" type="text" class="validate">
									<label for="peerAddress">format: &#60;multiaddr&#62;/&#60;peerID&#62;</label>
								</div>
							</div>
						</form>
				</div>
			</li>
		</ul>
	</div>
	<div class="modal-footer">
		<a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat ">Close Settings</a>
	</div>
</div>