h1 {
  font-size: 32px;
  text-align: center;
}

.sel-box{
    position:relative;
}
a{
    text-decoration:none;
}
[id*='select'] {
    display:block;
    width:235px;
    height:20px;
    border:1px solid #999;
    padding:5px;
}
.toc-odd{
   position:absolute;
   top:32px;
   background:#f1f1f1;
   width:250px;
    display:none;
}
.toc-odd li{
    padding:5px 10px;
    border-bottom:1px solid #999;
}
