h1 {
  font-size: 32px;
  text-align: center;
}

.sel-box{
    position:relative;
}

h1 {
  color: #fff;
  margin:0;
  padding-top: 8px;
  padding-bottom: 8px
}

.add-icon {
  font-size: 55px;
  cursor: pointer;
}

a{
    text-decoration:none;
}
[id*='select'] {
    display:block;
    width:235px;
    height:20px;
    border:1px solid #999;
    padding:5px;
}
.toc-odd{
   position:absolute;
   top:32px;
   background:#f1f1f1;
   width:250px;
    display:none;
}
.toc-odd li{
    padding:5px 10px;
    border-bottom:1px solid #999;
}

.title {
  font-weight: bold;
  color:#039be5;
}

.btn-ad {
  margin-left: 10px;
}

#hash-input, #project-input {
  font-size: 32px;
  padding-left: 65px;
}

#hash-input:hover {
  cursor: pointer;
  font-size: 32px;
  padding-left: 65px;
}

.card .card-action {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

