@font-face {
  font-family: "Julius Sans One";
  src: url("./../fonts/Julius_Sans_One/JuliusSansOne-Regular.ttf");
}

html {
  font-weight: 300;
}


h1 {
  font-size: 32px;
  text-align: center;
}

.brand-logo {
  font-family: "Julius Sans One";
  font-weight: 200;
  letter-spacing: .15em;
}

.tabs .indicator {
    /*color: #4db6ac;*/
    background-color: #607d8b ;
}

i {
  color: white;
}
.file-icon-images i {
  color: #ffc107;
}

.sel-box{
  position:relative;
}

h1 {
  color: #eeeeee;
  margin:0;
  padding-top: 8px;
  padding-bottom: 8px
}

.add-icon {
  font-size: 55px;
  cursor: pointer;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

body {
  background: #eeeeee; 
}

a {
  text-decoration:none;
}

.title {
  font-weight: bold;
  color:#4db6ac;
}

blockquote {
  margin: 20px 0;
  padding-left: 1.5rem;
  border-left: 5px solid #ffb300; /* Just change the color value and that's it*/
}

.btn-ad {
  margin-left: 10px;
}

#hash-input, #project-input {
  font-size: 32px;
  padding-left: 65px;
}

#hash-input:hover {
  cursor: pointer;
  font-size: 32px;
  padding-left: 65px;
}

.card .card-action {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.project-nav-bar{
  font-size: 2.1rem; 
  margin-left: 30px;
  font-family: "Julius Sans One";
  font-weight: 200;
  letter-spacing: .15em;
}

/*CSS for Daemon Load*/
.preload {
  margin: 0;
  position: absolute;
  overflow: hidden;
  z-index: 999;
  width: 100%;
  height: 100vh;
  top: 0;
  background: #ff8300;
  background: linear-gradient(to top left, #ffff66 -40%, #ff8300);
}

.container {
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 350px;
  height: 350px;
  margin: auto;
}

.part {
  width: 350px;
  position: absolute;
}

.svgpath {
  fill: rgba(145,220,90,0);
  stroke: #ff8300;
  stroke-width: 1.8px;
  stroke-dasharray: 1000;
  stroke-linecap: round;
  z-index: 2;
}

.svgbg {
  fill: rgba(255,255,255,0.2);
  z-index: 1;
 }

#playload {
  animation: dash 2.5s reverse ease-in-out infinite;
}

@keyframes dash {
  to {
    stroke-dashoffset: 2000;
  }
}

.settings-item span {
  font-size: 21px;
  font-weight: thin;
}

.projectView  .ace_editor { 
  min-height: 200px; 
  }

.projectView  ul li {
  display: inline;
}

.projectView  #outer{
width: 320px;
height: 180px;

}

.projectView  img{
 max-width:100%;
 max-height:100%;
}

.projectView  button.selected {
  background-color: lightblue;
}

.projectView .changedFile::after {
  content: '*changed';
}

.projectView .mediaContentWrapper {
  max-height: 900px;
  max-width: 600px;
}
.projectView  .fileVersion {
  margin: 0;
  font-size: 15px;
  text-decoration: none;
}

.save-delete {
  padding-top: 8px;
}

.fileVersionListItem {
  margin: 0;
  padding-top: 10px;
  padding: 0;
  height: 20px;
}
.fileVersionList {
  padding: 0;
   padding-top: 8px;
   padding-bottom: 8px;
   display: flex;
}

.transparent { 
  background-color: transparent;
  background-repeat:no-repeat;
  border: none;
  cursor:pointer;
  overflow: hidden;
  outline:none;
}

.projectView  .editor {
  width: 100%;
  min-height: 400px;
  max-height: 800px; 
}

.content-link {
  cursor: pointer;
}

.close-modal {
  position: absolute;
  right: 5px;
  top: 5px;
  cursor:pointer;
  color: #fff;
  border: 1px solid #AEAEAE;
  border-radius: 30px;
  background: #605F61;
  font-size: 31px;
  font-weight: bold;
  display: inline-block;
  line-height: 0px;
  padding: 11px 3px;       
}

.close-modal:before {
    content: "×";
}

.iframe-wrap {
  z-index: 9999;
  position: absolute;
  top:22px;
  left:50%; 
  transform: translate(-50%, 0);
  width: 95vw;
  height: 100vw;
  background-color: #fafafa;
  border-radius: 2px;
}

.file-iframe {
  width: 100%;
  height: 100%;
}  

.modal { 
  width: 90%;
  max-height: 85%;
}

.modal.modal-fixed-footer {
  height: 85%;
}

@media only screen and (max-width: 992px) {
  .modal {
    width: 90%;
  } 
}

.modal h4 {
  text-align: center;
  padding-top: 15px;
}

.project {
  margin-left: 25px;
}

.individual-file-partial{
  padding: 5px;
}

.save-delete-buttons{
  width: 157px;
}

.proj-modal-button {
  margin-left:5px;
}

.pub-version-list {
  padding-right: 5px;
}

.ace-chaos .ace_print-margin {
  border-left: none;
  background: none;
}

div.ace_print-margin {
  width: 0 !important;
}

.backdrop {
  background-color: #455a64;
 }

.collection-item > .collapsible-header {
  transition: 400ms ease;
}
.collection-item > .collapsible-header:hover {
  background-color: rgba(255,255,255,0.7) !important;
}

.body-wrapper {
  padding: 5px;
}

.ipfs-version {
  position: absolute;
  right: 20px;
  top: 10px;
}

.side-nav a, .material-icons {
  cursor: pointer;
}

.file-headers {
  border-top: none; 
  border-right: none; 
  border-left: none;
  margin: none; 
}

 .file-headers {
  box-shadow: none;
}